#red-crystal {
    width: 150px;
    height: 150px;
}
#blue-crystal {
    width: 150px;
    height: 150px;
}
#green-crystal {
    width: 150px;
    height: 150px;
}
#yellow-crystal {
    width: 150px;
    height: 150px;
}